<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Welcome to the NFL News!!!</h1>
      <p>The NFL News offers News About Your Favorite NFL Teams.</p>
      <p><a class="btn btn-primary btn-lg" href= <%= new_user_path %> role="button">Register! »</a></p>
    </div>
    <div class="col-md-4">
      <div class="welcome_dog"></div>
    </div>
  </div>